{% extends 'base.html' %}

{% block content %}
<div class="upload-form">
	<form id="image_form" method='POST' enctype='multipart/form-data'>
		<fieldset>
			<div>
				<input class="image_input" placeholder="Title" name='title' type='text' />
			</div>
			<div>
				<input class="image_input" placeholder="Image" id='file' name='image' type='file' accept="image/jpeg" />
			</div>
		</fieldset>
		<div>
			<input class="image_input" id='submit' type='submit' value="Upload Image" />
		</div>
	</form>
</div>
{% endblock %}
